body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#222;
color:white;
text-align:center;
padding:30px;
}

nav{
background:#444;
padding:10px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.hero{
padding:100px;
text-align:center;
background:#ddd;
}

button{
padding:15px 25px;
font-size:18px;
cursor:pointer;
}

.services{
display:flex;
justify-content:center;
gap:20px;
padding:40px;
}

.card{
background:white;
padding:20px;
width:250px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

footer{
text-align:center;
padding:20px;
background:#222;
color:white;
}
